@screen-xs:                   320px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1170px;

@yellow-color:                #ffdc26;
@red-color: 				  #960F1E;
@bright-red-color: 			  #C8000A;
@black-color:                 #3B3B3B;
@light-gray-color:            #F0F0F0;
@gray-color:                  #666666;
@white-color:                 #ffffff;
